body{
    background-image: url('images/happy.gif');
    background-size: cover;
    
    
    
    height: 100v;
    padding:0;
    margin:0;
}

#h{
    
    background: transparent;
    border: none !important;
    
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
    font-size: large;

    
}

#k{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 858px;
    color:rgb(0, 136, 255);
}



audio{
    display: none;
    
}